.share-box
  h2 Share your civic resume!

  .profile-toggle(data-public=profilePublic)
    .public-lock
      .profile-public(style=profilePublic ? 'display: block;' : 'display: none;')
        .profile-toggle-icon
          i.fa.fa-unlock-alt.fa(title='make profile public', data-placement='top')
        .profile-toggle-text
          | Congratulations, your profile is public!
      .profile-private(style=!profilePublic ? 'display: block;' : 'display: none;')
        .profile-toggle-icon
          i.fa.fa-lock.fa(title='make profile private', data-placement='top')
        .profile-toggle-text
          | Your profile is private. Click here to make it public.

  p.
    Use the link below to share your Civic Seed profile with your friends,
    colleagues and potential employers.

  form#share-link-form
    #copy-share-link-group.input-group
      span.input-group-addon http://
      input#copy-share-link-input.share-link.form-control(type='text', readonly)
      span#customize-share-link-button.input-group-addon.share-link-button.change-share-link-button Customize
    #customize-share-link-group.input-group
      span#share-link-prefix.input-group-addon http://
      input#customize-share-link-input.share-link.form-control(type='text')
      span#save-share-link-button.input-group-addon.share-link-button.save-share-link-button Save
    #share-link-message.share-link-message

  h4 Here is your Civic Seed seal of approval badge.

  .seal-container
    .seal-image
      img(src='#{CivicSeed.CLOUD_PATH}/img/profile/seal.png', width=180, height=135, alt='Civic Seed Seal of Approval')
    .seal-code
      h5 Embed this on your website!
      textarea.
        <a href="http://civicseed.org/profiles/#{sessionStorage.profileLink}" title="#{firstName} has earned the Civic Seed Seal of Approval!"><img src="#{CivicSeed.CLOUD_PATH}/img/profile/seal.png" width="200" height="150" alt="Civic Seed Seal of Approval"></a>
