.row.user-profile
  .col-md-10.col-md-offset-1

    if (sessionStorage.userEmail === email)
      - var thisBelongsToCurrentUser = true

    if !firstName
      h1 This profile does not exist.

    else if (firstName === 'Demo')
      include _demo

    else if !thisBelongsToCurrentUser && !profilePublic
      h1 This profile is not public.

    else

      include _user-header

      if profileUnlocked
        if thisBelongsToCurrentUser
          if postgameSurveyLink
            .row.profile-divider.no-print.text-center
              .col-sm-12.postgame-survey
                p
                  strong Please complete the post-game survey!
                a.btn.btn-primary.survey(href='#{postgameSurveyLink}', target='_blank') Click here to open the survey
          //- .row.no-print
          //-   .col-sm-12.instructions
          //-     p To edit your profile, click on the text. When you are done, make sure to hit the "Save" button.

        .row.profile-divider.resume-content
        .row
          .col-xs-12.col-sm-3.resume-headings
            h3 vision
          .col-xs-12.col-sm-8.resume-text
            p= profile.vision
        .row
          .col-xs-12.col-sm-3.resume-headings
            h3 education
          .col-xs-12.col-sm-8.resume-text
            ul
              each entry in profile.education
                li
                  | #{entry.school}
                  if entry.degree
                    | , #{entry.degree}
                  if entry.year
                    | , #{entry.year}

        .row
          .col-xs-12.col-sm-3.resume-headings
            h3 background
          .col-xs-12.col-sm-8.resume-text
            p= profile.background

        .row
          .col-xs-12.col-sm-3.resume-headings
            h3 experience
          .col-xs-12.col-sm-8.resume-text
            ul
              each item in profile.experience
                li= item

        .row
          .col-xs-12.col-sm-3.resume-headings
            h3 skills
          .col-xs-12.col-sm-8.resume-text
            ul
              each skill in profile.skills
                li= skill
            p
              img(src='#{CivicSeed.CLOUD_PATH}/img/profile/seal.png', width=60, height=45)
              | Civic Seed seal of approval


        if resume[0]
          .row
            .col-sm-12.motivations
              h2 Motivations
              p.resume-text(data-email=email) <span class='resume-text-editable'> #{resume[0]} </span>
              if (resumeFeedback.length > 0)
                .feedback.no-print
                  button.btn-info.btn-lg Peer Feedback
                  each comment, c in resumeFeedback
                    if (comment.resumeIndex === 0)
                      .row
                        .col-sm-12
                          .comment
                            h4 A peer said:
                            p #{comment.comment}
        if resume[1]
          .row
            .col-sm-12.background
              h2 Background & Skills
              p.resume-text(data-email=email) <span class='resume-text-editable'> #{resume[1]} </span>
        if resume[2]
          .row
            .col-sm-12.goals
              h2 Personal Goals
              p.resume-text(data-email=email) <span class='resume-text-editable'> #{resume[2]} </span>
        if resume[3]
          .row
            .col-sm-12.objectives
              h2 Civic Objectives
              p.resume-text(data-email=email) <span class='resume-text-editable'> #{resume[3]} </span>
        if colorMap
          .row
            .col-sm-12.color-map
              img(src='#{colorMap}')

        if thisBelongsToCurrentUser
          .row.no-print
            .col-sm-12
              button.btn.save-profile-button Save changes

        .row.footer
          .col-sm-12
            img(src='#{CivicSeed.CLOUD_PATH}/img/profile/tufts-logo.png', width=320, height=60)
            //-img(src='#{CivicSeed.CLOUD_PATH}/img/profile/seal.png', width=200, height=150)

      else
        .row.profile-divider
          .col-sm-8
            if thisBelongsToCurrentUser
              if active
                h3 Your civic resume is not ready yet. Play the game to complete it!
              else
                h3 The game is currently inactive.
            else
              h3 This civic resume has not yet been completed.
        if thisBelongsToCurrentUser && active
          .row
            .col-sm-8
              a.btn.btn-info.btn-lg.play-game(href='/game') Enter the game
