.row.user-profile
  .col-md-10.col-md-offset-1

    if (sessionStorage.userEmail === email)
      - var thisBelongsToCurrentUser = true

    if !firstName
      h1 This profile does not exist.

    else if (firstName === 'Demo')
      include _demo

    else if !thisBelongsToCurrentUser && !profilePublic
      h1 This profile is not public.

    else

      include _user-header

      if profileUnlocked
        if thisBelongsToCurrentUser
          if postgameSurveyLink
            .row.profile-divider.no-print.text-center
              .col-sm-12.postgame-survey
                p
                  strong Please complete the post-game survey!
                a.btn.btn-primary.survey(href='#{postgameSurveyLink}', target='_blank') Click here to open the survey
          //- .row.no-print
          //-   .col-sm-12.instructions
          //-     p To edit your profile, click on the text. When you are done, make sure to hit the "Save" button.

        .row.profile-divider.resume-content
        .row
          .col-xs-12.col-sm-3.resume-headings
            h3 vision
          .col-xs-12.col-sm-8.resume-text
            p= profile.vision
        .row
          .col-xs-12.col-sm-3.resume-headings
            h3 education
          .col-xs-12.col-sm-8.resume-text
            ul
              each entry in profile.education
                li
                  | #{entry.school}
                  if entry.degree
                    | , #{entry.degree}
                  if entry.year
                    | , #{entry.year}

        .row
          .col-xs-12.col-sm-3.resume-headings
            h3 background
          .col-xs-12.col-sm-8.resume-text
            p= profile.background

        .row
          .col-xs-12.col-sm-3.resume-headings
            h3 experience
          .col-xs-12.col-sm-8.resume-text
            ul
              each item in profile.experience
                li= item

        .row
          .col-xs-12.col-sm-3.resume-headings
            h3 skills
          .col-xs-12.col-sm-8.resume-text
            ul
              each skill in profile.skills
                li= skill
            p
              img(src='#{CivicSeed.CLOUD_PATH}/img/profile/seal.png', width=60, height=45)
              | Civic Seed seal of approval

        if resume[0]
          .row.profile-divider.resume-content-two
          .row.resume-row-two
            .col-sm-10.col-sm-offset-1.motivations
              h2 Motivations
              p(data-email=email) #{resume[0]}
              if (resumeFeedback.length > 0)
                .feedback.no-print
                  button.btn-info.btn-lg Peer Feedback
                  each comment, c in resumeFeedback
                    if (comment.resumeIndex === 0)
                      .row
                        .col-sm-12
                          .comment
                            h4 A peer said:
                            p #{comment.comment}
        if resume[1]
          .row.resume-row-two
            .col-sm-10.col-sm-offset-1.background
              h2 Background & Skills
              p(data-email=email) #{resume[1]}
        if resume[2]
          .row.resume-row-two
            .col-sm-10.col-sm-offset-1.goals
              h2 Personal Goals
              p(data-email=email) #{resume[2]}
        if resume[3]
          .row.resume-row-two
            .col-sm-10.col-sm-offset-1.objectives
              h2 Civic Objectives
              p(data-email=email) #{resume[3]}
        if colorMap
          .row.resume-row-two
            .col-sm-10.col-sm-offset-1.color-map
              img(src='#{colorMap}')

        //- Disable profile saving on this page for now - TODO: put it on another page to keep code separate
        //-if thisBelongsToCurrentUser
        //-  .row.no-print
        //-    .col-sm-10.col-sm-offset-1
        //-      button.btn.save-profile-button Save changes

        if thisBelongsToCurrentUser
          .row.share.no-print
            .col-sm-10.col-sm-offset-1
              include _share

        .row.footer
          .col-sm-12
            img(src='#{CivicSeed.CLOUD_PATH}/img/profile/tufts-logo.png', width=320, height=60)

      else
        .row.profile-divider
          .col-sm-12
            if thisBelongsToCurrentUser
              if active
                h3 Your civic resume is not ready yet. Play the game to complete it!
              else
                h3 The game is currently inactive.
            else
              h3 This civic resume has not yet been completed.
        if thisBelongsToCurrentUser && active
          .row
            .col-sm-12.text-center
              a.btn.btn-info.btn-lg.play-game(href='/game') Enter the game
          .row
            .col-sm-12.text-center
              .resume-sample
                h4.color-darkorange Sample civic resume:
                img(src='#{CivicSeed.CLOUD_PATH}/img/profile/resume-sample.png', width=340, height=880)
