.profiles
	if firstName
		.row.headerRow
			.span8
				p.nombre #{firstName} #{lastName}
				p.school <em>#{school}</em>
			if (sessionStorage.userEmail === email)
				.span3.profileToggle.no-print(data-public=profilePublic)
					if profilePublic
						i.fa.fa-unlock.fa.fa-4x(title='make profile public', data-placement='top')
						p your profile is public
					else
						i.fa.fa-lock.fa.fa-4x(title='make profile private', data-placement='top')
						p your profile is private
		if profileUnlocked
			if (sessionStorage.userEmail === email)
				.row.no-print
					.span12.box
						p
							a.survey(href='https://tufts.qualtrics.com/SE/?SID=SV_5b4GhL39bB7T8nb', target='_blank') Complete this survey!		
				.row.no-print
					.span12.instructions
						p To edit your profile, click on the text. When you are done, make sure to hit the "Save" button.
			.row
				.span12.box.motivations
					if resume[0]
						p(data-email=email) <span class="profileTitle">Motivations </span> <span class='resumeText'> #{resume[0]} </span>
			if (resumeFeedback.length > 0)
				.feedback.no-print
					p.clickForFeedback Peer Feedback
					each comment, c in resumeFeedback
						if (comment.resumeIndex === 0)
							.row
								p a peer said: #{comment.comment}


			.row
				.span12.box.background
					if resume[1]
						p(data-email=email) <span class="profileTitle">Background & Skills </span> <span class='resumeText'> #{resume[1]} </span>
			.row
				.span12.box.goals
					if resume[2]
						p(data-email=email) <span class="profileTitle">Personal Goals </span> <span class='resumeText'> #{resume[2]} </span>
			.row
				.span12.box.objectives
					if resume[3]
						p(data-email=email) <span class="profileTitle">Civic Objectives </span> <span class='resumeText'> #{resume[3]} </span>
			if (sessionStorage.userEmail === email)
				.row.no-print
					.span12
						p.saveProfileChanges Save Changes
							if colorMap
								img(src='#{colorMap}')
		else
			if (firstName === 'Demo')
				.row.demoProfile
					.span12
						h1 The Story of Civic Seed
						h2 Call to Action
						p At the start of the game, the players are told that the color has vanished from the world, and that they have been tasked to help restore it. The Botanist (our game guide) has developed special color seeds to this effect. If the players want to bring the color back, they must plant these seeds all over the world.
						p Knowledge is the fertilizer that gives the seeds their power, so the players must answer questions to earn and plant the seeds, up to and including the Enigma Civica, a great riddle that the players must solve to progress through each level.
						h2 Exploring the Mystery
						p As the players explore the world, talk to NPCs, and earn and plant seeds, more of the backstory comes to light. Through aspects of the NPC’s dialogue and rare sightings of a mysterious robot on the outskirts of the map, they learn that an Autonomous Harvesting Robot - T-Class (AHR-T) is the source of the color crisis. Furthermore, it becomes apparent that AHR-T has stolen all the color multiple times -- and that each time this happens, the people replant the color seeds.
						h2 The Big Reveal
						p After completing level 4, AHR-T sucks up all the seeds, rendering the world gray once again. Finally, the players learn the truth: it turns out, the robot was an invention of the Botanist, designed to fertilize and harvest more colorful crops, but instead, it went haywire and sucked up all the color. 
						p The Botanist is at his wit’s end, believing that no matter what he does, the cycle will only continue.
						h2 Boss Battle and Final Sequence
						p Now, the players must use the skills and knowledge mastered in the game to defeat the robot once and for all. The seeds, which they used to color the world, take on an extra effect: they illuminate hidden objects under the ground. To defeat AHR-T, they must race against time to uncover the four hidden control ports, and test their understanding of the content one last time at each. 
						p This overwhelms the seeds in AHR-T’s collection bag, which rapidly expands and explodes like a giant bag of microwave popcorn. The seeds fly everywhere, floating on the breeze and bringing color back to the world where they land.
						h2 Features of the full version of Civic Seed
						ul
							li Music and sound effects
							li Animated intro and finale sequences
							li Timed boss level
							li Hidden “Easter Egg” seeds
							li Heads-up knowledge contests between players
							li Sharable Community Service Resumes
						<iframe src="http://player.vimeo.com/video/64315985" width="640" height="360" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
						p.demoUserPlayLink
							a(href='/game') Play the Game
			else
				.row
					.span12
						if (sessionStorage.userEmail === email)
							if (active)
								h2 Your profile is locked. Play the game to complete your profile!
								p.buttonResume
									a(href='/game') Resume Game
							else 
								h2 The game is currently inactive.
						else 
							h2 This profile has not yet been completed.
		
	else
		h1 This person does not exist in our database.
		