#gameboard.gameboard
	canvas#background(width='960px', height='480px')
	canvas#characters(width='960px', height='480px')
	canvas#foreground(width='960px', height='480px')
	canvas#interface(width='960px', height='480px')
	canvas#minimap-tile(width='142px', height='132px')
	canvas#minimap-player(width='142px', height='132px')

	#loading
		p
			img(src='#{CivicSeed.CLOUD_PATH}/img/game/loader.gif')
		p loading

	#resource-area.gameboard-overlay
		a.close-overlay(href='')
			i.fa.fa-times-circle.fa-lg
		.resource-article.scrollable
		.resource-question
			.dialog.question
			form
		.resource-content
			.dialog
				span.speaker
				span.message
			.tangram
			.tagline-input
				input(name='tagline', type='text', value='', placeholder='Enter a tagline...', maxLength='60', autofocus)
				.privacy-message Summarize what you just learned. You’ll need it later!
		.resource-responses
			.dialog
				span.speaker
				span.message
			.responses.content-box.scrollable
				p.question
				ul.responses
		.buttons
			.left
				button.back-button.btn.btn-info(type='button') Back
			.right
				button.next-button.btn.btn-success(type='button') Next
				button.answer-button.btn.btn-success(type='button') Answer
				button.save-button.btn.btn-success(type='button') Save
				button.close-button.btn.btn-primary(type='button') Close
		.check
			.check-dialog.confirm-skimpy
				p Are you sure? That seems a bit skimpy...
				.buttons
					button.sure-button.right.btn.btn-success(type='button') I'm Sure
					button.retry-button.left.btn.btn-primary(type='button') I'll Add More
			.check-dialog.message-feedback
				.feedback
				.buttons
					button.btn.btn-primary(type='button') Okay

	#botanist-area.gameboard-overlay.background-3
		a.close-overlay(href='')
			i.fa.fa-times-circle.fa-lg
		.dialog
			span.speaker
			span.message
		.botanist-content
		.botanist-puzzle
			.tangram-outline
		.buttons
			.left
				button.back-button.btn.btn-info(type='button') Back
				button.clear-button.btn.btn-info(type='button') Clear Board
			.right
				button.next-button.btn.btn-success(type='button') Next
				button.answer-button.btn.btn-success(type='button') Answer
				button.save-button.btn.btn-success(type='button') Save
				button.close-button.btn.btn-primary(type='button') Close
		.check
			.check-dialog
				.feedback
				.buttons
					button.retryButton.btn.btn-primary(type='button') Okay

	#progress-area.gameboard-overlay
		a.close-overlay(href='')
			i.fa.fa-times-circle.fa-lg
		h2 Progress
		.personalInfo
			.levelImages
				img(src='#{CivicSeed.CLOUD_PATH}/img/game/rank/0.png').currentLevelImage
				img(src='#{CivicSeed.CLOUD_PATH}/img/game/rank/1.png')
				img(src='#{CivicSeed.CLOUD_PATH}/img/game/rank/2.png')
				img(src='#{CivicSeed.CLOUD_PATH}/img/game/rank/3.png')
			p.currentLevel novice gardener
			p.resourcesCollected resources collected:
			p.numCollected 12/40
			button.btn.collected-button.btn-success(type='button') View Answers
		.tabbable
			ul.nav.nav-tabs
				li.active.tabYou
					a(href='#tab1', data-toggle='tab') you
				li.tabEveryone
					a(href='#tab2', data-toggle='tab') everyone
			.tab-content
				.tab-pane.active#tab1
					.colorMapYou
						img(src='')
					p.displayTime
					p.timeTitle time played

				.tab-pane#tab2
					.colorMapEveryone
						img(src='')
					.displayPercent
						.progress
							.bar
					p.percentTitle world color meter
		.topSeeders

	#collected-resources.gameboard-overlay.background-3
		h2 Your Answers
		.displayMyAnswers.content-box You haven't collected any resources yet.
		button.btn.backToProgress.btn-info(type='button') Back

	#help-area.gameboard-overlay
		a.close-overlay(href='')
			i.fa.fa-times-circle.fa-lg
		h2 How To Play
		.content-box
			include help
		.buttons
			.right
				button.close-button.btn.btn-primary(type='button') Close

	#boss-area.gameboard-overlay
		.dialog
			span.speaker
			span.message
		.boss-introduction.video
		.boss-resumes
			.content-box
		.boss-instructions
			include boss-instructions
		.boss-win.video
		.buttons
			button.boss-button.btn.btn-success(type='button') Next

	#skinventory.gameboard-overlay.background-3
		a.close-button(href='')
			i.fa.fa-times-circle.fa-lg
		h2 Changing Room
		p Customize your suit! Mix and match different parts to create your look.  Unlock more pieces by talking to other characters in the world.
		.parts
			.part.head(data-part='head')
			.part.torso(data-part='torso')
			.part.legs(data-part='legs')
		.skinformation
			h3 You're wearing
			p Nothing!

	#inventory
		.inventory-boxes
		.inventory-items
		.inventory-tangram
		button.close-button.btn.btn-primary(type='button') Close
		.help click piece to view resource

	#status-update
		span

	#seedventory
		.seed.regular-button
			i.fa.fa-leaf.fa-lg(title='regular seed', data-placement='top')
			span.badge.always-show
		.seed.draw-button
			i.fa.fa-star.fa-lg(title='paintbrush seed', data-placement='top')
			span.badge.always-show
		button.close-button.btn.btn-primary(type='button') Close

	.graffiti
		p seeds left: <span></span>

	#speech-bubble
		.dialog
			span.speaker
			span.message
		.buttons
			button.next-button.btn.btn-success(type='button') Next
			button.close-button.btn.btn-primary(type='button') Okay
			button.no-button.btn.btn-primary(type='button') Close
			button.yes-button.btn.btn-success(type='button') View

	#game-log-overlay.scrollable

	#pause-menu
		p please re-focus your mind, body, and the window...
		p
			button.unpause.btn.btn-success(type='button') Resume Game

	#waiting-for-seed.spinner
		// img(src='#{CivicSeed.CLOUD_PATH}/img/game/spinloader.gif')

	#beaming
